.intro {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      width: 14rem;
    }

    & > * + * {
      padding-top: 1rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
